{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "extends": ["eslint:recommended", "prettier", "prettier/react"],
  "plugins": ["react/recommended", "react-hooks", "eslint-plugin-cypress"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "cypress/globals": true
  },
  "rules": {
    "valid-typeof": "warn"
  }
}
